* {
  animation: fade_in 2s;
  cursor: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Megrim', cursive;
  height: 100vh;
  cursor: none;
  
}
#main_heading {
	text-align: center;
  margin-top: 10vh;
}
#helpButton {
  margin-bottom: 10vh;
}
.app {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}
.basicButton {
  background: rgb(50,100,150);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 7%;
  justify-content: space-around;
  text-align: center;
  cursor: none;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 4vh;
  transition: 1s
}

.basicButton:hover {
  background: rgb(80,160,240);
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 4vh;
  transition: 0.7s; 
  cursor: none;
}

.basicButton:active  {
  animation: grow 5s
}
.invisible {
  opacity: 0;
  font-size: 0px;
  width: 0px;
  margin: 0px;
}
.cursorMouse {
  width: 1.5rem;
  height: 1.5rem;
  border: 4px solid black;
  border-radius: 50%;
  background: rgb(50,100,150);
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  transition: all 0.5s ease;
  transform-origin: 100% 100%;
  transition-property: background, transform, opacity; 
  z-index: 1;
}
.hovering {
  transform: scale(2);
  background: rgba(140,200,240,0.7)

}
.clear {
  transition: 0.5s;
  transition-property: opacity, background, transform; 
  opacity: 0%;
}
.not-clear {
  transition: 0.5s;
  transition-property: opacity, background, transform;
}
.sectionsa {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer {
  position: absolute;
  bottom: 0px;
  margin: none;
  font-size: 3vh;
}
@keyframes title_shrink {
	0% {
		font-size: 500%;
	}
	100% {
		font-size: 200%;
	}
}
@keyframes fade_in {
  0%{
    opacity: 0%
  }
  100% {
    opacity: 100%
  }

}
@keyframes grow {
  50% {
    width: 250px
    height: 250px;
  }
  100% {
    width: 200px
    height: 200px;
  }
}







