* {
  animation: fade_in 2s;
  cursor: none;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  cursor: none;
}
#main_heading {
	text-align: center;
  margin-top: 10vh;
}
#helpButton {
  margin-bottom: 10vh;
}
.app {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}
.basicButton {
  background: rgb(50,100,150);
  border-radius: 7%;
  justify-content: space-around;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: none;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 4vh;
  transition: 1s
}

.basicButton:hover {
  background: rgb(80,160,240);
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 4vh;
  transition: 0.7s; 
  cursor: none;
}

.basicButton:active  {
  animation: grow 5s
}
.invisible {
  opacity: 0;
  font-size: 0px;
  width: 0px;
  margin: 0px;
}
.cursorMouse {
  width: 1.5rem;
  height: 1.5rem;
  border: 0px solid black;
  border-radius: 50%;
  background: rgb(30,70,120);
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  transition: all 0.5s;
  transform-origin: 100% 100%;
  transition-property: background, transform, border; 
  z-index: 1;
}
.hovering {
  transform: scale(2);
  background: rgba(140,200,240,0.6);
  border-width: 0px;
}
.clear {
  transition: 0.5s;
  transition-property: opacity, background, transform, border; 
  opacity: 0%;
}
.not-clear {
  transition: 0.5s;
  transition-property: opacity, background, transform;
}
.sectionsa {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer {
  position: absolute;
  bottom: 0px;
  margin: none;
  font-size: 3vh;
}
.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  transition: 1s;
  cursor: none;
  font-size: 10vh;
  z-index: 99;
  position: absolute;
  background: white;
  color: rgb(50,100,150);
  animation: none;
}
.loading-finished {
  opacity: 0%;
  visibility: hidden;
  cursor: none;
  animation: none;
  z-index: -99;
}
.lodCirc {
  width: 5vw;
  height: 5vw;
  margin: 2vw;
  border-radius: 50%;
}
.animationCircles {
  margin: 5vh auto 5vh auto;
  display: flex;
  justify-content: space-around;
}
.lodCirc:nth-child(1) {
  background: white;
  animation: bluewhite 1s .6s infinite;
}
.lodCirc:nth-child(2) {
  background: white;
  animation: bluewhite 1s .8s infinite;
}
.lodCirc:nth-child(3) {
  background: white;
  animation: bluewhite 1s 1s infinite;
}

@media only screen and (max-width: 650px) {
  .basicButton {
  background: rgb(50,100,150);
  border-style: solid;
  border-color: black;
  border-width: 0px;
  border-radius: 7%;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5vh;
  cursor: none;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding: 3vh;
  transition: 1s
  }

  .basicButton:hover {
    background: rgb(80,160,240);
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 3vh;
    transition: 0.7s; 
    cursor: none;
    text-align: center;
    font-size: 1.5vh;
  }
  .app {
    width: 80%;
  }
}

@keyframes fade_out {
  0%{
    opacity: 100%
  }
  100% {
    opacity: 0%
  }

}
@keyframes bluewhite {
  0%{
    background: rgb(50,100,150);

  }
  50%{
    background: white;
  }
  100% {
    background: rgb(50,100,150);

  }

}
@keyframes title_shrink {
	0% {
		font-size: 500%;
	}
	100% {
		font-size: 200%;
	}
}
@keyframes fade_in {
  0%{
    opacity: 0%
  }
  100% {
    opacity: 100%
  }

}
@keyframes grow {
  50% {
    width: 250px
    height: 250px;
  }
  100% {
    width: 200px
    height: 200px;
  }
}







